<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>IGZLocation.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>IGZLocationMap.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8159B43A1E447F3C00D0D587</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8159B44D1E447F3D00D0D587</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>81925D151E40AA78001701F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>81925D1E1E40AA78001701F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
